/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e1726;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    color: #a4a4a4;
}

.main-content {
    background-color: #1b2946;
    color: white;
    padding: 100px 0;
}

footer {
    background-color: #0e1726;
    padding: 20px 0;
}

footer nav {
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    color: #a4a4a4;
}
